extends layout

block content
  h1= title
  .count 
    .mooning
    .notMooning
  .grid
    each val in data.data
      if val.quotes.GBP.percent_change_24h > 0
        .cryptos.up
          .crypto= val.name 
          if val.quotes.GBP.percent_change_24h > 0 
            .green.pc24= val.quotes.GBP.percent_change_24h + '%'
            
          else
            .red.pc24= val.quotes.GBP.percent_change_24h + '%'
          .price= "£" + val.quotes.GBP.price.toFixed(2)
          a(href="/cryptos/" + val.name + '/' + val.id) link
      if val.quotes.GBP.percent_change_24h < 0
        .cryptos.down
          .crypto= val.name 
          if val.quotes.GBP.percent_change_24h > 0 
            .green.pc24= val.quotes.GBP.percent_change_24h + '%'
          else
            .red.pc24= val.quotes.GBP.percent_change_24h + '%'
          .price= "£" + val.quotes.GBP.price.toFixed(2)
          a(href="/cryptos/" + val.name + '/' + val.id) link
  
        
     
  br
  form(action="/" method="POST")
    button(type="submit") Refresh